<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
         
      Manage Categories
         
        
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Categories</a></li>
        <li class="active">Administer Categories</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">
              Add Category</h3>
              
             
            </div>
            <!-- /.box-header -->
            
             <div class="box-body">
             <form action="/post_new_category" id="postcategory" class="form-horizontal" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="category_name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name" value="<%=@category ? @category.category_name : ''%>">
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                   <input type="checkbox"   id="is_active" name="is_active">  Is Active

                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                
                <button id="Submit" name="Submit" type="submit" class="btn btn-info pull-right">Add</button>
              </div> 
            
          </div>
          <!-- /.box -->

         

        </div>
        <!--/.col (left) -->
      
      </div>
      <!-- /.row -->

      
      
        

        
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->